<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Doctor</title>
</head>
<body>
    <h1>Bienvenido, {{ doctor[0] }}</h1> <!-- Muestra el nombre del doctor -->
    
    <h2>Pacientes Asignados:</h2>
    <ul>
        {% for paciente in pacientes %}
            <li>
                {{ paciente[1] }} {{ paciente[2] }} {{ paciente[3] }}
                <a href="{{ url_for('ver_paciente', id_paciente=paciente[0]) }}">Ver Información</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
</body>
</html>


