<!DOCTYPE html>
<html>
<head>
    <title>Nueva Cita</title>
</head>
<body>
    <h1>Generar Nueva Cita</h1>
    <form method="POST">
        <label for="especialidad">Especialidad:</label>
        <select name="especialidad" required>
            {% for especialidad in especialidades %}
            <option value="{{ especialidad[0] }}">{{ especialidad[1] }}</option>
            {% endfor %}
        </select><br><br>

        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" required><br><br>

        <button type="submit">Generar Cita</button>
    </form>
    <a href="{{ url_for('dashboard_paciente') }}">Volver</a>
</body>
</html>

