<!DOCTYPE html>
<html>
<head>
    <title>Registro de Paciente y Agendamiento de Cita</title>
</head>
<body>
    <h1>Registro de Paciente y Agendamiento de Cita</h1>
    <form method="POST">
        <label for="tipo_documento">Tipo de Documento:</label>
        <select name="tipo_documento" required>
            <option value="1">DNI</option>
            <option value="2">Pasaporte</option>
        </select><br><br>

        <label for="numero_documento">Número de Documento:</label>
        <input type="text" name="numero_documento" required><br><br>

        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required><br><br>

        <label for="apellido_paterno">Apellido Paterno:</label>
        <input type="text" name="apellido_paterno" required><br><br>

        <label for="apellido_materno">Apellido Materno:</label>
        <input type="text" name="apellido_materno" required><br><br>

        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" name="fecha_nacimiento" required><br><br>

        <label for="numero_celular">Número de Celular:</label>
        <input type="text" name="numero_celular" required><br><br>

        <label for="contraseña">Crear Contraseña:</label>
        <input type="password" name="contraseña" required><br><br>

        <label for="especialidad">Especialidad:</label>
        <select name="especialidad" required>
            {% for especialidad in especialidades %}
            <option value="{{ especialidad[0] }}">{{ especialidad[1] }}</option>
            {% endfor %}
        </select><br><br>

        <label for="fecha_reserva">Fecha de la Cita:</label>
        <input type="date" name="fecha_reserva" required><br><br>

        <button type="submit">Registrar y Programar Cita</button>
    </form>
</body>
</html>


